[Unit]
Description=Custom Backup Restic

[Timer]
OnBootSec=5min
Unit=resticTimer.service
; OnCalendar=*-*-* *:*:00
; OnActiveSec=20s

[Install]
WantedBy=timers.target
